body {
    background-color: #111;
    color: white;
}

a {
    color: #056200;
}

a:hover {
    color: #08A500;
}

#main {
    width: 100%;
}

#map {
    height: 85%;
    border: 3px solid #056200;
}

#header {
    height: 5%;
    text-align: center;
}

#footer {
    height: 5%;
    text-align: right;
}

.bugs_footer {
    display: inline-block;
    padding-top: 10px;
}

.leaflet-container {
    background-color: #151515;
}

.leaflet-control-attribution a {
    color: #056200;
}

.leaflet-control-attribution a:hover {
    color: #08A500;
}

.icon {
    max-width: 70%;
    max-height: 70%;
    margin: 4px;
}

.popup-button {
    pointer-events: all;
    cursor: pointer;
    position: relative;
    top: -17px;
}

.popup-property-info {
    position: relative;
    top: -7.5px;
}

.modal {
    color: #056200;
}

.modal-content, .modal-header, .modal-footer, .modal-body {
    background-color: #171717;
    border-color: #2f4431;
}

.modal-header>.close {
    color: #2baf24;
    text-shadow: 0 1px 0 rgb(36, 70, 23);
}

.form-control, .form-control:focus{
    color: #056200;
    background-color: #202020;
    border-color: #2f4431;
}

.form-control:focus{
    box-shadow: 0 0 0 .2rem rgba(17, 150, 23, 0.247);
}

.form-control:read-only, .input-group-text{
    background-color: #0f0f0f;
    border-color: #1f1f1f;
}

.form-control:read-only{
    color: #056200;
}

.input-group-text{
    color: #0f6c0a;
}

.form-control::placeholder {
    color: #359430;
    opacity: 1;
}

.btn-primary {
    background-color: #033d00;
    border-color: #033d00;
}

.btn-primary:hover {
    background-color: #065202;
    border-color: #065202;
}
